.topnav{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color:violet ;
    
}
.topnav li{
    float: left;
    
}
.topnav li a{
    
    display: inline-block;
    padding: 20px;
    color: black;
    
   
}
.topnav li a:hover{
    background-color: greenyellow;
}
.topnav li .login{
    float: right;

}

@media screen and (max-width: 600px) 
{
    .topnav li .login {
        float: none;
    }
}
     
  
    