.topnav{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color:violet ;
    
}
li{
    float: left;
    
}
 li a{
    
    display: inline-block;
    padding: 20px;
    color: black;
    
   
}
 li a:hover{
    background-color: greenyellow;
}
.login{
    float: right;

}

@media screen and (max-width: 600px) 
{
     .login {
        float: none;
    }
}
     
  
    